extends layout

block content
  div(class="row")
    div(class="col-xs-6 col-md-4")
      div(class="panel panel-default")
        div(class="panel-heading") Add Feed
        div(class="panel-body")
          p
            form
              div(class="form-group")
                label(for="inputTitle") Title
                input(type="text", class="form-control", id="inputTitle", placeholder="Enter title")
              div(class="form-group")
                label(for="inputDescription") Description
                textarea(class="form-control", rows="3", id="inputDescription", placeholder="Enter feed details")
              div(class="form-group")
                label(for="inputFeedType") Feed Type
                select(class="form-control", id="inputFeedType")
                  option Promos
                  option Tips
                  option Announcements
              div(class="form-group")
                label(for="exampleInputPassword1") Url
                input(type="text", class="form-control", id="exampleInputPassword1", placeholder="Password")
              div(class="form-group")
                label(for="exampleInputFile") File input
                input(type="file" id="exampleInputFile")
                p(class="help-block") Example block-level help text here.
             button(type="submit" class="btn btn-default") Submit

        //_id: Schema.Types.ObjectId,
        //feed_type: String,
        //title: {type: String, trim: true},
        //description: String,
        //url: {type: String, trim: true},
        //image: String,
        //promo_start_date: Date,
        //promo_end_date: Date,
        //date_modified: {type: Date, default: Date.now}